In [1]:
import psycopg2

conn = psycopg2.connect(host='dpg-csehq5jtq21c738c82g0-a.singapore-postgres.render.com',database="render_a21",user='render_a21_user',password='LtyqwUeXcgYPiPe9v4oBjlzm0vyOV9l9')
with conn:
    with conn.cursor() as cursor:
        sql='''
        INSERT INTO 市場 values (%s,%s)
        ON CONFLICT DO NOTHING;
        '''
        cursor.execute(sql,['^TWII','台灣'])
conn.close()

In [5]:
import yfinance as yf
taiwan = yf.download('^TWII')

[*********************100%***********************]  1 of 1 completed

In [8]:
from decimal import Decimal
conn = psycopg2.connect(host='dpg-csehq5jtq21c738c82g0-a.singapore-postgres.render.com',database="render_a21",user='render_a21_user',password='LtyqwUeXcgYPiPe9v4oBjlzm0vyOV9l9')
with conn:
    all_data = taiwan.to_dict(orient='index')
    for key,value in all_data.items():
        date = key.date()
        name = '^TWII'
        adj_close = Decimal(value[('Adj Close', name)])
        open = Decimal(value[('Open', name)])
        high = Decimal(value[('High', name)])
        low = Decimal(value[('Low', name)])
        close = Decimal(value[('Close', name)])
        volume = Decimal(value[('Volume', name)])
        with conn.cursor() as cursor:
            sql='''
            INSERT INTO 股市(date,open,high,low,close,adj_close,volume,name) 
            values(%s,%s,%s,%s,%s,%s,%s,%s)
            ON CONFLICT DO NOTHING;
            '''
            cursor.execute(sql,[date,open,high,low,close,adj_close,volume,name])
conn.close()

In [9]:
import psycopg2

conn = psycopg2.connect(host='dpg-csehq5jtq21c738c82g0-a.singapore-postgres.render.com',database="render_a21",user='render_a21_user',password='LtyqwUeXcgYPiPe9v4oBjlzm0vyOV9l9')
with conn:
    with conn.cursor() as cursor:
        sql='''
        INSERT INTO 市場 values (%s,%s)
        ON CONFLICT DO NOTHING;
        '''
        cursor.execute(sql,['^HSI','香港'])
conn.close()

In [10]:
import yfinance as yf
hsi = yf.download('^HSI')

[*********************100%***********************]  1 of 1 completed

In [11]:
from decimal import Decimal
conn = psycopg2.connect(host='dpg-csehq5jtq21c738c82g0-a.singapore-postgres.render.com',database="render_a21",user='render_a21_user',password='LtyqwUeXcgYPiPe9v4oBjlzm0vyOV9l9')
with conn:
    all_data = hsi.to_dict(orient='index')
    for key,value in all_data.items():
        date = key.date()
        name = '^HSI'
        adj_close = Decimal(value[('Adj Close', name)])
        open = Decimal(value[('Open', name)])
        high = Decimal(value[('High', name)])
        low = Decimal(value[('Low', name)])
        close = Decimal(value[('Close', name)])
        volume = Decimal(value[('Volume', name)])
        with conn.cursor() as cursor:
            sql='''
            INSERT INTO 股市(date,open,high,low,close,adj_close,volume,name) 
            values(%s,%s,%s,%s,%s,%s,%s,%s)
            ON CONFLICT DO NOTHING;
            '''
            cursor.execute(sql,[date,open,high,low,close,adj_close,volume,name])
conn.close()

In [3]:
import streamlit as st
import psycopg2
from dotenv import load_dotenv
import os
import pandas as pd
load_dotenv()

def getData(country:tuple[str])->list[tuple]:
    conn = psycopg2.connect(host='dpg-csehq5jtq21c738c82g0-a.singapore-postgres.render.com',
                            database="render_a21",
                            user='render_a21_user',
                            password='LtyqwUeXcgYPiPe9v4oBjlzm0vyOV9l9')
    with conn:
        with conn.cursor() as cursor:
            sql = '''
            SELECT country,市場.name,date,adj_close,volume
            FROM 股市 JOIN 市場 ON 股市.name = 市場.name
            WHERE country IN %s;
            '''
            cursor.execute(sql,(country,))
            all_data = cursor.fetchall()
    conn.close()
    return all_data
df = pd.DataFrame(getData(('台灣','香港恒生')),columns=['國家','代號','日期','收盤價','成交量'])
df['收盤價'] = df['收盤價'].astype('float').round(decimals=2)
df

      國家     代號          日期       收盤價      成交量
0     台灣  ^TWII  1997-07-02   8996.68        0
1     台灣  ^TWII  1997-07-03   9027.59        0
2     台灣  ^TWII  1997-07-04   9192.53        0
3     台灣  ^TWII  1997-07-07   9322.80        0
4     台灣  ^TWII  1997-07-08   9305.23        0
...   ..    ...         ...       ...      ...
6703  台灣  ^TWII  2024-11-04  22965.39  2715900
6704  台灣  ^TWII  2024-11-05  23106.79  2872200
6705  台灣  ^TWII  2024-11-06  23217.38  3163400
6706  台灣  ^TWII  2024-11-07  23408.82  3751300
6707  台灣  ^TWII  2024-11-08  23553.89  3635500

[6708 rows x 5 columns]